{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{% trans "All galleries" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <h1  class="display-4 mt-3">{% trans "All galleries" %}</h1>

        </div>
    </div>
    <hr>

    {% if object_list %}
        <div class="row">
        <div class="col-md-10 mb-2">
        {% for gallery in object_list %}


            <a href="{{ gallery.get_absolute_url }}"><h2 style="color:blue;">{{ gallery.title }}</h2></a>

            <p class="muted  "><small>{% trans "Published" %} {{ gallery.date_added }}</small></p>
            <p>{% if gallery.description %}<p>{{ gallery.description|safe }}</p>{% endif %}</p>
            {% for photo in gallery.sample %}
                <a href="{{ photo.get_absolute_url }}">
                    <img src="{{ photo.get_thumbnail_url }}" class="img-thumbnail mb-3" alt="{{ photo.title }}">
                </a>
            {% endfor %}
        {% endfor %}




    {% else %}
        {% trans "No galleries were found" %}

    {% endif %}
{% include "photologue/includes/paginator.html" %}

</div>
<div class="col-md-2">
    <div class="card">
        <div class="card-text font-weight-bold text-center">
            Quick link
        </div>
        {% include '_partial/sidebar.html' %}

    </div>
</div>



</div>

{% endblock %}