{% extends 'base.html' %}
{% block title %}
    about-us
{% endblock %}

{% load static %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h1 class="text-center" style="font-family: 'Lobster'; color:#164A4A;">Our Governing Body</h1>

            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 mb-3">
            <div class="card-deck">
                {% if persons %}
                    {% for person in persons %}
                        {% if person.role == 'Chairman' or person.role == 'Principle' %}
                            <div class="card p-0">
                                <img style="height: 200px; width: 100%;" class="card-img-top img-responsive" src="{{ person.upload_image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center text-uppercase"><b>{{ person.name }}</b></h4>
                                    <h6 style="color: #164A4A" class=" card-title text-center text-justify">{{ person.short_description }}</h6>
                                    <p class="card-text text-justify">{{ person.details|truncatechars:78 }}
                                        <a href="{% url 'default_page:about_us_single_view.html' slug=person.slug %}">view more</a></p>
                                    <p class="card-text text-muted "><small class="text-muted">Updated {{ person.updated_at|timesince }} ago</small></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}

                    <div class="card">
                        <h1 class="text-danger text-center ">There is no member add yet!</h1>

                    </div>
                {% endif %}


            </div>

        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <h1 class="text-center" style="font-family: 'Lobster'; color:#164A4A;">Our Vice-Principle</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-12 mb-2">
            <div class="card-deck">
            {% if persons %}
                {% for person in persons %}
                    {% if person.role == 'Vice-Principle' %}
                        <div class="card p-0">
                            <img style="height: 200px; width: 100%;" class="card-img-top img-responsive" src="{{ person.upload_image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title text-center text-uppercase"><b>{{ person.name }}</b></h4>
                                <h6 style="color: #164A4A" class=" card-title text-center text-justify">{{ person.short_description }}</h6>
                                <p class="card-text text-justify">{{ person.details|truncatechars:78 }}
                                    <a href="{% url 'default_page:about_us_single_view.html' slug=person.slug %}">view more</a></p>
                                <p class="card-text text-muted "><small class="text-muted">Updated {{ person.updated_at|timesince }} ago</small></p>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                {% else %}
                   <div class="card">
                        <h1 class="text-danger text-center ">There is no vice-principle add yet!</h1>

                    </div>
            {% endif %}

            </div>

        </div>
    </div>
{% endblock %}