{% extends "base.html" %}
{% block title %}
    {{about_college.title}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card mb-1">
                <img style="height: 400px;" class="card-img-top" src="{{ about_college.upload_image.url}}" alt="Tejgaon college Image">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">{{about_college.title}}</h3>
                    <hr>
                    <p style="font-family: 'font-family: 'PT Serif', serif;'" class="card-text text-justify">{{about_college.description}}</p>
                    <p class="card-text"><small class="text-muted">Updated: {{about_college.updated_at}}</small></p>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <div style="" class="card mt-5">
                <div class="card-text font-weight-bold text-center">
                    Quick link
                </div>
                {% include '_partial/sidebar.html' %}

            </div>
        </div>
    </div>
{% endblock content %}