                <div class=" mb-2 mt-2 ">
                    <div class="pagination ">
        <span class="step-links">
          {% if posts.has_previous %}
              <a href="?page={{ posts.previous_page_number }}">
            <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
              Previous
          </a>
          {% endif %}

            <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
          </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Next
           <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>

         </a>
            {% endif %}
       </span>
                    </div>
                </div>
