<!doctype html>
<html lang="en">
<head>
    {% include '_partial/head.html' %}
    <title> {% block title %} {% endblock %}||Tejgaon-college</title>
</head>

<body>
{% include '_partial/fb_sdk.html' %}

{% load static %}


<div class="container">
   {% block banner %}

   {% endblock %}
{% include '_partial/main_nav.html' %}

	{% block content %}

    {% endblock %}
        {% include '_partial/footer.html'%}

</div>
{% include '_partial/js.html' %}

{% block custom_js %}

{% endblock  %}

</body>
</html>