{% extends 'base.html' %}

{% block title %}
    View-all-departmen
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-center" style="font-family: 'Lobster'; color:#164A4A;">All Departments of Tejgaon College</h1>
            <hr>
        {% if departments %}
            <div class="row mt-2">
                {% for department in departments%}

                    <div class="col-md-3">
                        <div class="card  p-1 mb-2">
                            <img class="card-img-top img-fluid" src="{{department.upload_image.url}}" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-text text-center">{{department.name}} Department</h4>
                                <p class="card-text text-center">{{department.details|truncatechars:40}}<a href="{% url "department:view" slug=department.slug pk=department.pk%}">view more</a></p>
                            </div>
                        </div>
                    </div>

                {% endfor%}

            </div>
          {% else %}
                <h1 class="text-danger text-center ">There is no department add yet!</h1>
            {% endif %}
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="pagination">
        <span class="step-links">
          {% if departments.has_previous %}
              <a href="?page={{ departments.previous_page_number }}">
            <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
               Previous
          </a>
          {% endif %}

            <span class="current">
            Page {{ departments.number }} of {{ departments.paginator.num_pages }}.
          </span>

            {% if departments.has_next %}
                <a href="?page={{ departments.next_page_number }}">
            Next
           <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>

         </a>
            {% endif %}
       </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div style="" class="card mt-5">
                <div class="card-text font-weight-bold text-center">
                    Quick link
                </div>
                {% include '_partial/sidebar.html' %}

            </div>
        </div>
    </div>
{% endblock %}