{% extends "base.html" %}
{% block title %}
    {{department.name}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card mb-1">
                <img style="height: 400px;" class="card-img-top" src="{{ department.upload_image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">{{department.name}} department of tejgaon college</h3>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Details</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Teachers</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Syllabus</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <p style="font-family: 'font-family: 'PT Serif', serif;'" class="card-text text-justify">{{department.details}}</p>
                            <p class="card-text"><small class="text-muted">Updated: {{department.updated_at|timesince}} ago</small></p>

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <ul>

                                <div class="row mt-3">
                                    {% for teacher in teachers%}

                                        <div class="col-md-3">
                                            <div class="card  p-1 mb-2">
                                                <img class="card-img-top img-fluid" src="{{teacher.upload_image.url}}" alt="Card image cap">
                                                <div class="card-block">
                                                    <h4 class="card-title  text-center pt-1"> <strong>{{teacher.name}}</strong> </h4>
                                                    <h6 class="  text-center">{{teacher.designation}} of {{teacher.department.name}} Department</h6>
                                                    <p class="card-text text-center ">{{teacher.about_teacher|truncatechars:35}}<a href="{% url "teacher:view" slug=teacher.slug %}">view more</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor%}
                                </div>
                            </ul>



                        </div>
                        <div class="tab-pane fade mt-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            {% if department.syllabus %}
                                <a  href="{{department.syllabus.url}}">Click Here to Download Syllabus <i class="fa fa-download" aria-hidden="true"></i> </a>
                            {% else %}
                                <h2 class=" text-danger">Admin Doesn't upload syllabus here</h2>

                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-2">


            <div class="card mt-5">
                <div class="card-text font-weight-bold text-center">
                    Quick link
                </div>
                                 {% include '_partial/sidebar.html' %}

            </div>

        </div>
    </div>
{% endblock content %}