{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Login{% endblock %}

{% block content %}
    <div class="row mb-2">
        <div class="col-md-12 d-flex justify-content-center ">
            <h1>Login</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-primary btn-block btn-info mb-2 ">Login</button>
            </form>
        </div>
    </div>
{% endblock %}