{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    create-post
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-8 mt-2">
            <h1  style="font-family: 'Lobster';">Create New Post!</h1>
            <hr>
            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block mb-3">Create Post</button>
            </form>
        </div>
    </div>

    {#    <div class="row">#}
    {#        <div class="col-md-8">#}
    {#            <h1 class="text-center pt-4 "> Create Blog post</h1>#}
    {#            <hr>#}
    {#            <form action="" method="POST">{% csrf_token %}#}
    {#                                {{ form.title }}#}
    {#                <br>#}
    {#                {{ form.body }}#}
    {#                    <div class="form-group row">#}
    {#                        <label for="title" class="col-sm-2 col-form-label">Title:</label>#}
    {#                        <div class="col-sm-10">#}
    {#                            <input type="text" class="form-control" id="title" placeholder="Title goes here..........">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="form-group row">#}
    {#                        <label for="body" class="col-sm-2 col-form-label">Content:</label>#}
    {#                        <div class="col-sm-10">#}
    {#                            <textarea name="body" id="body" cols="65" rows="10" placeholder="Content goes here........"></textarea>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {##}
    {#                    <div class="form-group row">#}
    {#                        <div class="col-sm-10 offset-2">#}
    {#                            <button type="submit" class="btn btn-primary btn-block">Create Post</button>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </form>#}
    {#        </div>#}
    {#    </div>#}

    {#    <div class="row">#}
    {#    <div class="col-md-12">#}
    {#        <form method="POST"> {%csrf_token%}#}
    {##}
    {#            {% for error in form.non_field_errors %}#}
    {#                <div class="form-group has-errors text-danger small">#}
    {#                    {{error}}#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#            {% for field in form %}#}
    {#                <div class="form-group has-errors text-danger small">#}
    {#                    {{field.errors}}#}
    {#                </div>#}
    {#                <div class="form-group has-errors text-danger small">#}
    {#                </div>#}
    {#                <div class="form-group">#}
    {##}
    {#                    {{ field }}#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#            <button type="submit" class="btn btn-primary btn-block mb-4">Create post</button>#}
    {#        </form>#}
    {#    </div>#}
    {#    </div>#}
{% endblock content %}
