{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="row pt-2 text-justify">

        <div class="col-md-9">
            <h2 style="font-family: 'Lobster'; color:#164A4A;">{{ post.title }}</h2>
              {% if post.author == request.user %}
                    <a style="color: green;" href="{{ post.edit }}"><span class="fa fa-edit fa-2x"></span></a>
                <a style="color: red;" href="{{ post.delete }}"><span class="fa fa-trash-o fa-2x"></span></a>
                {% endif %}
            <p class="small  text-muted" style="color: #777777; ">Published {{ post.publish|timesince }} ago {{ post.published }} by {{ post.author }}</p>
            {% if post.upload_image %}
                <img style="height: 300px;" class="card-img img-responsive" src="{{ post.upload_image.url }}" alt="Blog Image">
            {% endif %}
            <div class="fb-like mt-2"
                 data-href="{{request.build_absolute_uri}}" data-layout="standard"
                 data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
            <p style="font-family: 'Lora', serif; font-weight: bold;">{{ post.content|linebreaks }}</p>

            <div class="fb-comments" data-href="{{request.build_absolute_uri}}"
                 data-numposts="2">
            </div>
        </div>

        <div class="col-md-3  jumbotron">
            <h3  style="font-family: Lobster;">Tejgaon College Blog</h3>
            <hr>
            <p><a href="{% url "blog:post_feed" %}" target="_blank"> <span style="color: red;" class="fa fa-rss fa-2x"></span> Subscribe to RSS Feed</a></p>
        </div>
    </div>




{% endblock %}