{% extends "base.html" %}

{% block title %}Our Blog{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="row mt-4">
                <div class="col-md-6">
                    <h2 style="color: #164A4A;">Recent Posts</h2>

                </div>
                <div class="col-md-6">
                    <a href="{% if request.user.is_authenticated %}
                    {% url 'blog:post_create' %}
                    {% else %}
                    {% url 'login' %}
                    {% endif %}"><button class="btn btn-outline-info btn-block">Create Post</button></a>

                </div>
            </div>
            <hr>
            {% for post in posts %}
                <h2 style="font-family: 'Lobster';">{{ post.title }}</h2>
                {% if post.author == request.user %}
                    <a style="color: green;" href="{{ post.edit }}"><span class="fa fa-edit "></span></a>
                <a style="color: red;" href="{{ post.destroy }}"><span class="fa fa-trash-o "></span></a>

                {% endif %}

                {% if post.author.get_full_name %}
                    <p class="small" style="color: #777777; font-family: 'Lora', serif;">Published {{ post.publish|timesince }} ago by {{ post.author.get_full_name }}</p>
                {% elif post.author%}
                    <p class="small" style="color: #777777; font-family: 'Lora', serif;">Published {{ post.publish|timesince }} ago by {{ post.author }}</p>

                {% endif %}
                {% if post.upload_image %}
                    <img style="height: 400px;" class="card-img img-responsive" src="{{ post.upload_image.url }}" alt="Blog Image">


                {% endif %}
                <div class="fb-like mt-2" data-href="{{request.build_absolute_uri}}"
                     data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                </div>
                <p style="font-weight: initial; font-family: 'Lora', serif;" class="pt-2">{{ post.content|truncatewords:31}}<a href="{{ post.get_absolute_url }}">View more</a></p>


            {% endfor %}
            {% include "blog/pagination.html" with page=posts %}

        </div>
        <div class="col-md-4 jumbotron  pt-0">
            <h2 style="font-family: 'Lobster';" class="page-header">Tejgaon College Blog</h2>
            <hr>
            <p><a href="{% url "blog:post_feed" %}" target="_blank"> <span style="color: red;" class="fa fa-rss fa-2x"></span> Subscribe to RSS Feed</a></p>
        </div>

    </div>
{% endblock %}