{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    update-post
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-8 mt-2">
            <h1  style="font-family: 'Lobster';">Update Post!</h1>
            <hr>
            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block mb-3">Update Post</button>
            </form>
        </div>
    </div>

{% endblock %}
