{% load i18n %}
{% if is_paginated %}
    <div class="row">
                <div class="col-md-12 d-flex justify-content-center ">
                    <div class="pagination ">
        <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">
            <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
              Previous
          </a>
          {% endif %}

            <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next
           <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>

         </a>
            {% endif %}
       </span>
                    </div>
                </div>
            </div>

{% endif %}