body {
    padding: 0px 0px;
    /*background-color: #F5F5F5;*/
    background-color: white;
    /*font-family: 'Merriweather Sans', sans-serif;*/

    /*font-family: 'Roboto Slab', serif;*/

    /*font-family: 'Lora', serif;"*/
    font-size: 15px;
    font-weight: 500px;
}
/*Dropdown*/
.dropdown-menu{
    right: 4px;
    left: auto;
    margin-top: 12px;
}
/*Dropdown*/

.popular_dept{
    background-color: black;
    border-radius: 5px;

}
/*Popular department*/



/* Some customisation for the Photologue demo site. */

div.row img.thumbnail {
    margin-bottom: 5px;
    display: inline-block;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

td {
    width: 100px;
}

a.btn.btn-default {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*From style*/
a{
    font-weight:700;
    text-decoration:none;
    font-size:14px;
    transition:color 0.3s ease;
}
a,a:hover{
    color:#0060b1;
    text-decoration:none;
}
a,a:focus,a:active{
    outline:none!important;
}
p{
    margin:0 0 15px;
}
h1,h2,h3,h4{
    font-weight:500;
    color:#282428;
    margin:0;
}

h3{
    font-size:22px;
}
h4{
    font-size:18px;
}
h5{
    font-size:14px;
    font-family:'Open Sans',sans-serif;
    font-weight:700;
    margin:0;
    color:#282428;
    line-height:30px;
}
ul{
    list-style-type:none;
    margin:0;
}
.count .col-xs-6 p{
    font-family:'Roboto Slab',serif;
    font-size:20px;
    line-height:20px;
    font-weight:700;
    margin:0;
    text-transform:uppercase;
}
@media (max-width: 479px) {
    .count .col-xs-6,.menuFooter .col-xs-6{
        width:100%;
    }
}
@media (max-width: 767px) {
    .count .col-xs-6,.menuFooter .col-xs-6{
        margin-bottom:35px;
    }
}
.count .col-xs-6:nth-child(2),.menuFooter .col-xs-6:nth-child(2){
    clear:right;
}
@media (max-width: 767px) {
    .menuFooter .col-xs-6{
        min-height:150px;
    }
}
.paralax{
    background-attachment:fixed;
    background-size:cover;
    background-position:center center;
    float:left;
    width:100%;
    padding:65px 0;
    color:#ffffff;
}
.paralax-text{
    padding-top:60px;
    margin-top:60px;
    border-top:1px solid rgba(255,255,255,0.15);
}
@media (max-width: 767px) {
    .paralax-text{
        padding-top:45px;
        margin-top:45px;
    }
}
.paralax-text h2{
    font-size:22px;
    margin-bottom:25px;
    color:#ffffff;
    text-transform:uppercase;
}
@media (min-width: 768px) {
    .paralax-text h2{
        font-size:25px;
    }
}
@media (min-width: 1200px) {
    .paralax-text h2{
        font-size:30px;
    }
}
.paralax-text p{
    margin:0;
}
.paralax-text a.commonBtn{
    padding-right:45px;
    padding-left:45px;
    margin-top:40px;
}
.paralax-text .list-inline{
    display:block;
    margin-top:30px;
}
.paralax-text .list-inline li{
    margin:0 6px;
    padding:0;
}
@media (max-width: 479px) {
    .paralax-text .list-inline li{
        margin:0 3px;
    }
}
.paralax-text .list-inline li a{
    display:inline-block;
    width:65px;
    height:65px;
    line-height:65px;
    border-radius:50%;
    border:2px solid rgba(255,255,255,0.4);
    color:white;
}
@media (max-width: 479px) {
    .paralax-text .list-inline li a{
        width:45px;
        height:45px;
        line-height:45px;
    }
}
.paralax-text .list-inline li a i{
    font-size:22px;
}
@media (max-width: 479px) {
    .paralax-text .list-inline li a i{
        font-size:18px;
    }
}
.paralax-text .list-inline li:hover i{
    -webkit-animation:toTopFromBottom 0.3s forwards;
    animation:toTopFromBottom 0.3s forwards;
}

.icon{
    padding-top:40px;
    margin-top:30px;
    border:2px solid rgba(255,255,255,0.2);
    display:inline-block;
    width:120px;
    height:120px;
    border-radius:50%;
}
@media (max-width: 767px) {
    .icon{
        padding-top:35px;
        width:110px;
        height:110px;
    }
}
.icon i{
    font-size:36px;
}
@media (max-width: 767px) {
    .icon i{
        font-size:30px;
    }
}
.counter{
    font-family:'Roboto Slab',serif;
    font-size:50px;
    line-height:50px;
    font-weight:700;
    margin-top:10px;
}
@media (max-width: 767px) {
    .counter{
        font-size:40px;
    }
}
.seperator-small{
    width:10%;
    height:2px;
    background-color:rgba(255,255,255,0.47);
    margin:15px auto;
}

.menuFooter{
    background-color:#fff;
    width:100%;
    float:left;
    height:auto;
    padding:17px 0 35px;
    border-top:1px solid #dce4ea;
}

.menuLink li{
    list-style:none;
}
.menuLink li a{
    line-height:30px;
    color:#000;
    font-family:'Open Sans',sans-serif;
    font-weight:400;
    text-transform:uppercase;
}
.menuLink li a:hover{
    opacity:.8;
}
@media (max-width: 479px) {
    .borderLeft{
        height:auto;
        border:none;
        border-top:1px solid #dce4ea;
        padding-top:8px;
    }
}
@media (min-width: 768px) {
    .borderLeft{
        border-left:1px solid #dce4ea;
        min-height:180px;
    }
}
@media (min-width: 992px) {
    .borderLeft{
        min-height:170px;
    }
}

.footer-address address{
    line-height:24px;
    margin-bottom:5px;
}
.footer-address .place{
    font-size:13px;
    font-weight:400;
    color:rgba(0,0,0,0.5);
}
.footer-address .place:hover,.footer-address .place:focus{
    color:black;
}
.footer-address .place i{
    font-size:20px;
    padding-right:7px;
    vertical-align:middle;
    color:rgba(0,0,0,0.3);
}
.socialArea>h5,.contactNo>h5,.footer-address h5{
    margin-bottom:10px;
    text-transform:uppercase;
}
.socialArea>.list-inline>li>a:hover>img{
    opacity:.8;
}
.socialArea{
    margin-bottom:20px;
    clear:both;
    width:100%;
    float:left;
}
.socialArea .list-inline{
    margin-left:0;
    text-align:center;
}
.socialArea .list-inline li{
    padding:0;
    float:left;
    margin:0 4px 4px 0;
}
.socialArea .fa{
    background:#c5c5c5;
    color:#fff;
    font-size:18px;
    height:31px;
    line-height:32px;
    text-align:center;
    width:31px;
    border-radius:50%;
    opacity:1;
    filter:alpha(opacity=100);
}
.socialArea .fa:hover{
    opacity:0.8;
    filter:alpha(opacity=80);
    transition:opacity 0.3s;
}
.contactNo>h3{
    font-family:'Open Sans',sans-serif;
    font-weight:700;
}
@media (min-width: 768px) {
    .contactNo>h3{
        font-size:18px;
    }
}
@media (min-width: 992px) {
    .contactNo>h3{
        font-size:22px;
    }
}

.footer{
    padding:20px 0;
    float:left;
}
@media (max-width: 767px) {
    .footer{
        text-align:center;
    }
}
.footer a{
    font-size:13px;
    color:rgba(255,255,255,0.5);
    font-weight:400;
    transition:color 0.3s;
}
.footer a:hover,.footer a:focus{
    color:white;
    transition:color 0.3s;
}
.copyRight p{
    font-size:13px;
    margin-bottom:0;
    color:rgba(255,255,255,0.5);
}
.copyRight p a{
    text-decoration:underline;
}
.privacy_policy{
    text-align:right;
}
@media (max-width: 767px) {
    .privacy_policy{
        text-align:center;
    }
}
.privacy_policy a{
    display:inline-block;
    margin-right:3px;
    border-right:2px solid rgba(255,255,255,0.5);
    padding-right:8px;
    line-height:16px;
}
.privacy_policy a:last-child{
    margin-right:0;
    border-right:none;
    padding-right:0;
}

.footer{
    padding:35px 0 40px 0;
    background:#222c34;
    width:100%;
    display:block;
    background:linear-gradient(to right,#222c34 0%,#2a3a46 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#222c34',endColorstr='#2a3a46',GradientType=1);
}
/*From style*/