a,a:hover,.header .navbar-default .navbar-nav li a:hover,.header .navbar-default .navbar-nav .active a,.header .navbar-default .navbar-nav .active a:hover,.header .navbar-default .navbar-nav .active a:focus,.header .navbar-nav li.open .dropdown-menu li a:hover,.header .navbar-nav li.open .dropdown-menu li a:focus,.header .navbar-nav li.dropdown .dropdown-menu li a:hover,.header .navbar-nav li.dropdown .dropdown-menu li a:focus,.header .navbar-nav li.open .dropdown-menu li.active a,.header .navbar-nav li.dropdown .dropdown-menu li.active a,.courses_right_inner td ul li.active a,.courses_right_inner td a:hover,.courses_left_inner ul li a:hover,.courses_left_inner ul li a:focus,.courses_left_inner ul li.active a,.item_inner a.fees,.sidebar_item.admission .item_inner.program ul li a:hover,.sidebar_item.admission .item_inner.program ul li.active a,.item_inner.question a,.fc-center h2,.fc-event-container a.more,ul.contact_info li .fa,ul.contact_info li a:hover,.error-content a,li.language.dropdown ul.dropdown-menu li.active a,li.language.dropdown ul.dropdown-menu li a:hover{
    color:#0060b1;
}
.topbar,.btn.learnBtn,.related_post_sec a.more_post,.pagination>li>a,.pagination>li>span,.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus,.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus,.item_inner.slider .flex-direction-nav a,.single_content .tab_menu>ul li a:hover,.single_content .tab_menu>ul li.active a,.feature-section .commonBtn.secondaryBtn,.feature-section .commonBtn.secondaryBtn:hover,.feature-section .commonBtn.secondaryBtn:focus,.cartListInner .updateArea .btn,.cartListInner .updateArea .btn:hover{
    border-color:#0060b1;
}
.single_content .tab_menu>ul li.active a::after,.single_content .tab_menu>ul li a:hover::after{
    border-top-color:#0060b1;
}
.feature-section .commonBtn.secondaryBtn:hover,.feature-section .commonBtn.secondaryBtn:focus{
    background-color:#0060b1;
}
.topbar,.captionLink,.captionLink:hover,.learnBtn,.flex-control-paging li a.flex-active,.courses_right_inner th,.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus,.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus,#single_banner .flex-control-paging li a.flex-active,.single_content .tab_menu>ul li a:hover,.single_content .tab_menu>ul li.active a,.carousel-indicators li.active,.price-title,.version3 .header .navbar,.header-v3 .header .navbar,.feature-section .commonBtn.secondaryBtn,.cartListInner .updateArea .btn,.cartListInner .updateArea .btn:hover{
    background-color:#0060b1;
}
@media (max-width: 767px) {
    .header .navbar-nav li.open .dropdown-menu li a:hover,.header .navbar-nav li.open .dropdown-menu li a:focus,.header .navbar-nav li.dropdown .dropdown-menu li a:hover,.header .navbar-nav li.dropdown .dropdown-menu li a:focus,.header .navbar-default .navbar-nav li.apply_now a:hover{
        color:#0060b1;
    }
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus,.caption_inner a,.post_bottom ul li a span,.commonBtn,.commonBtn:hover,.cart-dropdown .shop-cart .badge,.success-inner .owl-dots .owl-dot.active span,.success-inner .owl-dots .owl-dot:hover span,.cartListInner .table-responsive .table tbody tr td .close:hover,.cartListInner .updateArea .checkBtnArea .commonBtn,.cartListInner .updateArea .checkBtnArea .commonBtn:hover,.checkboxArea input[type=checkbox]:not(old):checked+label span,.checkboxArea1 input[type=checkbox]:not(old):checked+label span,.post_section .post_bottom ul li a span,.version2 .navbar-default .navbar-toggle:hover,.version2 .navbar-default .navbar-toggle:focus,.header-v2 .navbar-default .navbar-toggle:hover,.header-v2 .navbar-default .navbar-toggle:focus{
    background:#49c32c;
}
.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus,.form-control:focus,.commonBtn,.commonBtn:hover,.getArea,.block_quate,.event_calendar,.feature-box:hover span,.cartListInner .table-responsive .table tbody tr td .close:hover,.cartListInner .updateArea .checkBtnArea .commonBtn,.cartListInner .updateArea .checkBtnArea .commonBtn:hover,.checkboxArea input[type=checkbox]:not(old):checked+label span,.checkboxArea1 input[type=checkbox]:not(old):checked+label span,.cooming-page.cooming-dark-page .ed-form .form-group .form-control:focus,.version2 .navbar-default .navbar-toggle:hover,.version2 .navbar-default .navbar-toggle:focus,.header-v2 .navbar-default .navbar-toggle:hover,.header-v2 .navbar-default .navbar-toggle:focus{
    border-color:#49c32c;
}
.list_block,.sidebar_item,.formArea{
    border-top-color:#49c32c;
}
.features ul li:hover i,.content_top .content_left ul li:before,.thumb_title .author_designation a,.meta span a,.rel_right span.date a,.upcoming_events ul li:hover span.date,.dropdown-category .dropdown-menu li a:hover,.dropdown-category .dropdown-menu li.active a,.productCaption .caption-bottom .offer-price,.text-box:hover .text-box-icon i,.text-box:hover .text-box-top h4 a,.feature-box span,.feature-box:hover span i,.customModal .panel-footer p a,.cartListInner .table-responsive .table tbody tr td:nth-child(3),.totalAmountArea .cart-price,.upcoming_events .related_post_sec.single_post:hover span.date{
    color:#49c32c;
}
.sbOptions a:hover,.LanguageList .sbOptions a:hover,.LanguageList .sbOptions a:visited,.header-v3 .topbar-right .sbOptions a:hover,.header-v3 .topbar-right .sbOptions a:visited{
    color:#49c32c;
}
.commonBtn:hover,.commonBtn:focus{
    background-color:#49c32c;
}
@media (min-width: 768px) {
    .header .navbar-default .navbar-nav li.apply_now a{
        background:#49c32c!important;
    }
    .header .navbar-default .navbar-nav li.apply_now a:hover{
        background:#49c32c!important;
    }
}
