{% extends 'base.html' %}

{% block title %}
    View-all-teacher-list
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-center" style="font-family: 'Lobster'; color:#164A4A;">All Teachers of Tejgaon College</h1>
            <hr>
            {% if teachers %}

                <div class="row mt-2">
                    {% for teacher in teachers%}

                        <div class="col-md-3">
                            <div class="card  p-1 mb-2">
                                <img class="card-img-top img-fluid" src="{{teacher.upload_image.url}}" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title  text-center mt-1"><strong>{{teacher.name}}</strong> </h4>
                                    <h6 class=" pt-0 card-subtitle text-center">{{teacher.designation}} of {{teacher.department.name}} Department</h6>
                                    <p class="card-text text-center">{{teacher.about_teacher|truncatechars:60}}<a href="{% url "teacher:view" slug=teacher.slug %}">view more</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor%}

                </div>
            {% else %}
                <h1 class="text-danger text-center ">There is no teacher add yet!</h1>
            {% endif %}


            <div class="row">
                <div class="col-md-12 d-flex justify-content-center ">
                    <div class="pagination ">
        <span class="step-links">
          {% if teachers.has_previous %}
              <a href="?page={{ teachers.previous_page_number }}">
            <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
              Previous
          </a>
          {% endif %}

            <span class="current">
            Page {{ teachers.number }} of {{ teachers.paginator.num_pages }}.
          </span>

            {% if teachers.has_next %}
                <a href="?page={{ teachers.next_page_number }}">Next
           <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>

         </a>
            {% endif %}
       </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div style="" class="card mt-5">
                <div class="card-text font-weight-bold text-center">
                    Quick link
                </div>
                {% include '_partial/sidebar.html' %}

            </div>
        </div>
    </div>
{% endblock %}