{% extends "base.html" %}
{% block title %}
    {{teacher.name}}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card mb-1">
                <img style="height: 400px;" class="card-img-top" src="{{ teacher.upload_image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-uppercase text-center"><strong>{{teacher.name}}</strong></h4>
                    <h4 class=" card-title text-center text-capitalize"> teacher of {{teacher.department.name}} department at tejgaon college</h4>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                            <a class="nav-item nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">At a glance
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <p class="card-text pt-2">{{ teacher.about_teacher }}</p>
                            <p class="text-muted"><small>Updated: {{ teacher.updated_at|timesince }}</small></p>

                        </div>
                        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="list-group m-3 p-3">
                                <button type="button" class="list-group-item  "><i class="fa fa-user-circle fa-x"></i> Name: {{ teacher.name }}</button>
                                {% if teacher.department_head == 'yes' %}
                                    <button type="button" class="list-group-item "><i class="fa fa-user fa-x" aria-hidden="true"></i> Head of {{ teacher.department.name }} Department</button>

                                {% endif %}
                                <button type="button" class="list-group-item "><i class="fa fa-cog" aria-hidden="true"></i> Designation: {{ teacher.designation }}</button>
                                <button type="button" class="list-group-item "><i class="fa fa-graduation-cap" aria-hidden="true"></i> Studied: {{ teacher.studied_at }}</button>
                                <button type="button" class="list-group-item  " ><i class="fa fa-birthday-cake" aria-hidden="true"></i> Date of Birth: {{ teacher.date_of_birth }}</button>
                                 {% if teacher.facebook_profile %}
                                    <button type="button" class="list-group-item "><i class="fa fa-facebook" aria-hidden="true"></i><a  href="{{ teacher.facebook_profile }}"> Facebook </a></button>

                                {% endif %}
                                                        <p class="text-muted pt-1"><small>Updated: {{ teacher.updated_at|timesince }}</small></p>

                            </div>

                        </div>
                    </div>
                    {#                    <p style="font-family: 'font-family: 'PT Serif', serif;'" class="card-text text-justify">{{teacher.about_teacher}}</p>#}
                    {#                    <p class="card-text"><small class="text-muted">Updated: {{teacher.updated_at|timesince}} ago</small></p>#}
                </div>
            </div>

        </div>
        <div class="col-md-2">


            <div class="card mt-5">
                <div class="card-text font-weight-bold text-center">
                    Quick link
                </div>
                 {% include '_partial/sidebar.html' %}

            </div>

        </div>
    </div>
{% endblock content %}