
<div class="card  mt-1">
		<div class="row">
			<div class="col-md-8">
				<p class="mt-2 h4 text-center card-title"><b>WELCOME TO TEJGAON COLLEGE</b></p>
				<hr>
				<div class="row p-1">
					<div class=" col-md-6">
						<div>
							<iframe height="320px;" class="embed-responsive" src="https://www.youtube.com/embed/IFZfjHnHFXY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-6">
						<p class="text-justify  card-text">
							<span style=" font-family: 'font-family: 'PT Serif', serif;'">{{about_college.description|truncatechars:650}}</span>

							<a href="{% url "default_page:view" slug=about_college.slug %} ">Learn More</a>
{#							<a href="{% url 'default_page:view' slug=about_college.slug %}">Learn More</a>#}


						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 pl-5">
				<div class="related_post_sec">
					<p class="mt-2 h4 text-center card-title"><b>LATEST NEWS </b></p>
                    <p style="color: green;" class="text-center"><b>Today:</b>{% now "jS F Y g:i:sA" %}</p>
					<hr>
					<div id="news-container">
						<ul>
							<li>

								<a href="single-post-right-sidebar.html"><h4>Offered in small class sizes with great emphasis...</h4></a>
								<span class="date">Posted: <a href="single-post-right-sidebar.html">January 24, 2015</a></span>
							</li>
							<li>

								<a href="single-post-right-sidebar.html"><h4>Offered in small class sizes with great emphasis...</h4></a>
								<span class="date">Posted: <a href="single-post-right-sidebar.html">January 24, 2015</a></span>
							</li>
							<li>

								<a href="single-post-right-sidebar.html"><h4>Offered in small class sizes with great emphasis...</h4></a>
								<span class="date">Posted: <a href="single-post-right-sidebar.html">January 24, 2015</a></span>
							</li>
							<li>

								<a href="single-post-right-sidebar.html"><h4>Offered in small class sizes with great emphasis...</h4></a>
								<span class="date">Posted: <a href="single-post-right-sidebar.html">January 24, 2015</a></span>
							</li>
							<li>

								<a href="single-post-right-sidebar.html"><h4>Offered in small class sizes with great emphasis...</h4></a>
								<span class="date">Posted: <a href="single-post-right-sidebar.html">January 24, 2015</a></span>
							</li>
						</ul>

					</div>
					<button class="btn btn-outline-info btn-block mt-3 mb-2">View More News</button>
				</div>

			</div>
		</div>

	</div>
