{% load static %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url "default_page:home_page" %}">
            <img style="width: 100%; height: 150px;" src="{% static 'img/tc_banner.jpg' %}" alt="">
        </a>
    </div>
</div>