<footer>
    <div class="menuFooter ">
        <div class="container">
            <div class="row ">

                <div class="col-sm-3 col-xs-6">
                    <ul class="menuLink">
                        <li class="text-uppercase text-center font-weight-bold"> Visitor counter</li>
                        <li class="pt-2">


                        <!-- BEGIN: Powered by Supercounters.com -->
                        <center><script type="text/javascript" src="//widget.supercounters.com/ssl/flag.js"></script>
                            <script type="text/javascript">sc_flag(1468436,"f7f7f7","000000","0f0a0f",2,10,0,0)</script>
                            <br><noscript><a href="http://www.supercounters.com/">Flag Counter</a></noscript>
                        </center>
                        <!-- END: Powered by Supercounters.com -->
                        </li>

                    </ul>
                </div><!-- col-sm-3 col-xs-6 -->

                <div class="col-sm-3 col-xs-6 borderLeft">
                    <ul class="menuLink">
                        <li><a href="{% url 'department:index' %}">All Departments</a></li>
                        <li><a href="buying-steps.html">Admission</a></li>
                        <li><a href="photo-gallery3col.html">Photo Gallery</a></li>
                        <li><a href="international_students.html">International Students</a></li>
                    </ul>
                </div><!-- col-sm-3 col-xs-6 -->

                <div class="col-sm-3 col-xs-6 borderLeft">
                    <div class="footer-address">
                        <h5>Location:</h5>
                        <address>
                            Tejgaon College<br>
                            1211,Indira Road<br>
                            Dhaka
                        </address>
                        <a href="contact-us.html"><span class="place"><i class="fa fa-map-marker"></i>Main Campus</span></a>
                    </div>
                </div><!-- col-sm-3 col-xs-6 -->

                <div class="col-sm-3 col-xs-6 borderLeft">
                    <div class="socialArea">
                        <h5>Find us on:</h5>
                        <ul class="list-inline ">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/CSEdept.TejgaonCollegeDhaka/" target= "blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div><!-- social -->
                    <div class="contactNo">
                        <h5>Call us on:</h5>
                        <h3>012-3434-456768</h3>
                    </div><!-- contactNo -->
                </div><!-- col-sm-3 col-xs-6 -->

            </div><!-- row -->
        </div><!-- container -->
    </div><!-- menuFooter -->

    <div class="footer ">
        <div class="container">
            <div class="row ">
                <div class="col-sm-6 col-xs-12 copyRight">
                    <p>© 2016 Copyright Tejgaon College Project developed by <a href="http://www.gitlab.com/yaimran21">Md Imran Hossain</a></p>
                </div><!-- col-sm-6 col-xs-12 -->
                <div class="col-sm-6 col-xs-12 privacy_policy">
                    <a href="contact-us.html">Contact us</a>

                    <a href="privacy-policy.html">Privacy Policy</a>
                </div><!-- col-sm-6 col-xs-12 -->
            </div><!-- row clearfix -->
        </div><!-- container -->
    </div><!-- footer -->
</footer>
