<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- PLUGINS CSS STYLE -->
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Cardo|Gentium+Book+Basic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto+Slab" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



{% load static %}
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

<link rel="icon" type="image/png"  href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link href="{% static 'css/custom/custom_style.css' %}" rel="stylesheet">
<link href="{% static 'css/custom/default.css' %}" rel="stylesheet">
<link href="{% static 'css/custom/gallery.css' %}" rel="stylesheet">
{#<link href="{% static 'css/custom/style.css' %}" rel="stylesheet">#}

{#Gallery css#}
<link href="{% static 'css/gallery/screen.css' %}" rel="stylesheet">
{#Gallery css#}
