
{% load static %}
<!-- JQUERY SCRIPTS -->

<script src="{% static 'js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- News Start -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/jquery.vticker-min.js' %}"></script>
<!-- News End -->
{#Gallery #}
<script src="{% static 'js/html5shiv.min.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>


{#Gallery #}
