{% load static%}
<nav class="navbar navbar-expand-lg navbar-light  sticky-top " style="background-color: #e3f2fd;">
    <a class="navbar-brand {% if '/' in request.path %}active{% endif %}" href="{% url "default_page:home_page" %}"><img style="height: 40px;" src="{% static 'img/logo.jpg' %}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if '' not in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url "default_page:home_page" %}"><span class="fa fa-home"></span>Home</a>
            </li>
            <li class="nav-item {% if 'about-us'  in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'default_page:about_us' %}"><span class="fa fa-info-circle"></span>About us</a>
            </li>
            <li class="nav-item {% if 'departments' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url "department:index" %}">
                    <span class="fa fa-university"></span>Department</a>
            </li>
            <li class="nav-item {% if 'teachers' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'teacher:index' %}"><span class="fa fa-user"></span>Teacher</a>
            </li>
            <li class=" nav-item   {% if 'blog' in request.path %}active{% endif %}">
                <a class="nav-link " href="{% url 'blog:post_list_view' %}" >
                   <span class="fa fa-comments-o"></span>Blog
                </a>
            </li>
            <li class="nav-item dropdown {% if 'gallery' in request.path %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-expanded="false">
                   <span class="fa fa-picture-o"></span>Gallery
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'photologue:gallery-list' %}">Gallery list views</a>
                    <a class="dropdown-item" href="{% url 'photologue:pl-gallery-archive' %}">Gallery date views</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'photologue:photo-list' %}">Photo list views</a>
                    <a class="dropdown-item" href="{% url 'photologue:pl-photo-archive' %}">Photo date views</a>
                </div>
            </li>

        </ul>
   {% if user.is_authenticated %}

       <ul>
       <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-expanded="false">
                   <span class="fa fa-user-circle"></span>       {{ request.user.get_full_name }}

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'photologue:gallery-list' %}"><i class="fa fa-user" aria-hidden="true"></i>
 Profile</a>
                    <a class="dropdown-item" href="{% url 'photologue:pl-gallery-archive' %}"><i class="fa fa-cogs" aria-hidden="true"></i>
 Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>
 Sign Out</a>
                </div>
            </li>
       </ul>
    {% endif %}

{#        <form class="form-inline ">#}
{#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#            <button class="btn btn-outline-success" type="submit">Search</button>#}
{#        </form>#}
    </div>
</nav>


