  {% load static %}
  <div class="popular_dept">
    <div class="row mt-1">
      <div class="col-md-12">
       <p style="color: white; margin-top: 10px;" class="text-center h3"><b>OUR POPULAR DEPARTMENTS</b></p>
     </div> 
   </div>
   <div class="row">
    {% for department in departments%}
    <div class="col-md-3">
                <div class="card  p-1 mb-2">
                    <img class="card-img-top img-fluid" src="{{department.upload_image.url}}" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title text-center">{{department.name}} Department</h4>
                      <p class="card-text text-center">{{department.details|truncatechars:50}}<a href="{% url "department:view" slug=department.slug pk=department.pk %}">view more</a></p>
                  </div>
              </div>
    </div>
    {% endfor%}

    

</div>
</div>

