<ul class="list-group list-group-flush text-capitalize ">
    <li class="list-group-item  p-1"><a href="{% url "department:index" %}">Departments list
        <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
    </a></li>

    <li class="list-group-item  p-1"><a href="{% url "teacher:index" %}">Teachers list
        <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>

    </a></li>

    <li class="list-group-item  p-1">
        <a  href="{% url 'photologue:gallery-list' %}">Gallery list views
            <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></a>

    </li>
    <li class="list-group-item  p-1">
        <a  href="{% url 'photologue:pl-gallery-archive' %}">Gallery date views
            <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
        </a>


    </li>
    <li class="list-group-item  p-1">
        <a href="{% url 'photologue:photo-list' %}">Photo list views
            <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
        </a>


    </li>
    <li class="list-group-item  p-1">
        <a  href="{% url 'photologue:pl-photo-archive' %}">Photo date views
            <i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i>
        </a>


    </li>

</ul>