  {% load static %}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/slider/slider-1.jpeg' %}" alt="First slide">
      <div class="carousel-caption d-none d-md-block"  style="background-color: green;">
        <h3>Heading goes here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quidem eius ut culpa eaque libero sed facilis, animi temporibus. Adipisci ratione ullam nisi officia ipsam saepe aut, amet unde alias.</p>
        <a href="#"><button class="btn btn-outline-info">View More</button></a>
 
      </div>
    </div>
    <div class="carousel-item">
      <img  class="d-block w-100" src="{% static 'img/slider/slider-2.jpeg' %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block" style="background-color: green;">
        <h3>Heading goes here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quidem eius ut culpa eaque libero sed facilis, animi temporibus. Adipisci ratione ullam nisi officia ipsam saepe aut, amet unde alias.</p>
        <a href="#"><button class="btn btn-outline-info">View More</button></a>

      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/slider/slider-3.jpeg' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block"  style="background-color: green;">
        <h3>Heading goes here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quidem eius ut culpa eaque libero sed facilis, animi temporibus. Adipisci ratione ullam nisi officia ipsam saepe aut, amet unde alias.</p>
        <a href="#"><button class="btn btn-outline-info">View More</button></a>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

