
    <div class="count    paralax mt-1" data-wow-delay="100ms" style="background-color: green;">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="text-center">
              <div class="icon"><i class="fa fa-group"></i></div>
              <div class="counter">
              <span class="timer">8298</span>
              </div>
              <div class="seperator-small"></div>
            <p>Students</p>
            </div>
          </div><!-- col-sm-3 -->
          <div class="col-xs-6 col-sm-3">
            <div class="text-center">
              <div class="icon"><i class="fa fa-book"></i></div>
              <div class="counter">
              <span class="timer">142</span>
              </div>
              <div class="seperator-small"></div>
              <p>Courses</p>
            </div>
          </div><!-- col-sm-3 -->
          <div class="col-xs-6 col-sm-3">
            <div class="text-center">
              <div class="icon"><i class="fa fa-male"></i></div>
              <div class="counter">
              <span class="timer">1047</span>
              </div>
              <div class="seperator-small"></div>
              <p>Stuffs</p>
            </div>
          </div><!-- col-sm-3 -->
          <div class="col-xs-6 col-sm-3">
            <div class="text-center">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="counter">
              <span class="timer">10</span>
              </div>
              <div class="seperator-small"></div>
              <p>Locations</p>
            </div>
          </div><!-- col-sm-3 -->
        </div><!-- row -->
        
      </div><!-- container -->
    </div><!-- count -->
    
  
